.switch-container {
  width: 40px;
  height: 20px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}
.switch {
  position: absolute;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease;
}

.switch-container.dark-mode .switch {
  left: calc(100% - 15px - 3px);
}


