@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root{
  --desktop-nav-height: 70px;
  --mobile-nav-height: 60px;
}


body{
  font-family: "Montserrat";
  font-optical-sizing: auto;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.page {

}


@media screen and (max-width: calc(1300px + 2rem)) {
  .page {
    padding: 0 1rem;
  }
}